/*style for other sheets*/

@font-face {
    font-family: "Rubik";
    src: url(.assets/Rubik-VariableFont_wght.ttf);
}
/*COMMON*/
* {
    font-family: "Rubik", sans-serif;
    font-size: 3vmin;
    color: white;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-image: url(./assets/background.jpg);
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    justify-content: center;
}

header {
    width: 85vw;
    height: 10vh;
    top : 5vh;
    margin :auto;
    position: relative;
    background-color: rgba(54, 52, 52, 0.7);
    z-index: 1;
}
.for_cards_desktop{
    height: 90%;
}
.for_cards {
    padding-top: 3%;
    width: 50%;
    height: 90%;
    padding-left: 3% ;
    /* font-size: 4Vmin; */
    text-transform: uppercase;
    /* border-bottom: 0.1em solid white; */
}
.for_cards > h1 {
    /* margin: auto; */
    height: 90%;
    font-size: 4Vmin;
    border-bottom: 0.1em solid white;
}

main {
    width: 85vw;
    height: 80vh;
    margin: auto;
    position: relative;
    top: 5vh;
    background-color: rgba(54, 52, 52, 0.7);
    overflow-y: scroll; 
}
/**navbar**/
.desktop-nav {
    display:none;
}
.mobile-nav {
    width: 85vw;
    height: 5vh;
    bottom: 0;
    left: 7.5%;
    position: absolute;
    background-color: rgba(223, 215, 215, 0.15);
    display: flex;
}

 ul, li, a  { 
    width: 100%;
    padding: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none; 
  }

li {
    border-radius: 50%;
    margin: 1%;
}
li i {
    color: white;
    background: none;
}

li:hover {
    background-color: rgba(237, 255, 255, 0.3); 
}

/*club*/
.image_container {
    width: 90%;
    height: 30%;
    margin: auto;
}
img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: bottom;
    border-radius: 10px;   
}


.presentation {
    margin: auto;
    width: 90%;
}

.presentation > iframe {
   border-radius: 10px;
}
/**/

/*members*/
.members {
    display: flex;
    flex-direction: column;
    padding: 0 3%;
}
.member {
    display: flex;
    gap: 5%;
    height: auto;
    padding-bottom:5%;
    align-items: flex-start;

}
.img_member {
    width: 30vw;
    height: 13vh;
}
.img_member > img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: top;
}
.presentation_member {
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 100%;
}
.ico_member {
    width: 10vh;
    height: 100%;
}
.ico_member > a {
   width: 100%;
}
.ico_member  i {
    width: 100%;
    color: white;
    background: none;
   
}
.presentation_member > h2 {
    margin-top: 0;
}
.presentation_member > p {
    margin: 0;
}
.ELO {
    padding: 0 3%;
}
.ELO  a {
 display: inline-block;
}
.white-space {
 white-space: pre-line;
}
/*press*/
.press {
    height: 80vh;
}
.img-press {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(5,1fr);
    row-gap: 10%;
    column-gap: 2%;
    align-items: center;
    width: 90%;
    margin: 0 auto;
}
.img-press1 {
    grid-area: 1/1/2/3;
    filter: grayscale(100%);
}

.img-press2 {
    grid-area: 2/1/3/2;
    filter: grayscale(100%);
}
.img-press3 {
    grid-area: 2/2/3/3;
    filter: grayscale(100%);
}
.img-press4 {
    grid-area: 3/1/4/2;
    filter: grayscale(100%);
}
.img-press5 {
    grid-area: 3/2/4/3;
    filter: grayscale(100%);
}
.img-press6 {
    grid-area: 4/1/5/2;
    filter: grayscale(100%);
}
.img-press7 {
    grid-area: 4/2/5/3;
    filter: grayscale(100%);
}
.img-press8 {
    grid-area:5/1/6/2;
    filter: grayscale(100%);
}
.img-press9 {
    grid-area: 5/2/6/3;
    filter: grayscale(100%);
}

/*partners*/
.partners {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4,1fr);
    row-gap: 2%;
    align-items: center;
    margin: auto;
  
}
.partner1 {
    grid-area: 1/1/2/2;
    width: 70%;
    margin: auto;
}
.partner2 {
    grid-area: 2/1/3/2;
    width: 80%;
    margin: auto;
}
.partner3 {
    grid-area: 3/1/4/2;
    width: 80%;
    margin: auto;
}
.partner4 {
    grid-area: 4/1/5/2;
    width: 80%;
    margin: auto;
}
/*contact*/
.adress{
    height: 65%;
    margin: auto;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5,1fr);
}

.ad1 {
    grid-area: 1/1/3/2;
    height: 100%;
}
.ad2 {
    grid-area: 3/1/4/2;
    height: 100%;
}
.ad3 {
    grid-area: 4/1/6/2;
    margin: auto;
    width: 90%;
    height: 100%;
    background-image: url(./assets/oasis-1.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    
}
.ad1 > iframe {
    width: 90%;
    height: 100%;
    border-radius: 10px;
}

.phone_mail_sm {
    height: 32%;
    margin: auto;
   width: 90%;
}

address {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 80%;
}
address > a {
   justify-content: flex-start;
   text-decoration: none;
}
.SM {
    padding-top: 5%;
    display: flex;
    justify-content: space-around;
}
i {
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

@media screen and (min-width:800px) {
    header{
        top: 0;
        position: absolute;
        height: 20vh;
        width: 100vw;
        background-color: rgba(223, 215, 215, 0.0);
    }
    main {
        height: ;
    }
    .for_cards_desktop {
        position: absolute;
        top: 10vh;
        left : 7.5%;
        width: 85vw;
        height: 50%;
        background-color: rgba(54, 52, 52, 0.7) ;   
    }
    .for_cards{
        padding-top: 1.5%;
    }
    .for_cards > h1{
        margin: 0;
        width: 50%;
        height: 100%;
        
       
    }

    
    .mobile-nav {
        display:none;
    }
    .desktop-nav{
        top: 0;
        position: absolute; 
        width: 100vw;
        height: 10vh;
        background-color: rgba(223, 215, 215, 0.15);
        display: flex;
    }

    nav, ul, li, a { 
        width: 100%;
    }
    li {
        border: 1px solid white;
        border-radius: 0;
        padding: 0.5%;
        list-style-type: none;
        text-align: center;
    }
    li:hover {
        background-color: rgba(237, 255, 255, 0.3); 
    }
    a {
        text-decoration: none;
        text-transform: uppercase;
        text-shadow: grey 2px 2px 2px;
        font-size: 0.8em;
    }

    main {
        top: 20vh;
        height: 80vh;
    }
    .img_member {
        width: 20vh;
        height: 20vh;
    }
} 

/* @media screen and (min-width:1000px) {
}