@font-face {
    font-family: "Rubik-VariableFont";
    src: url(./assets/Rubik-VariableFont_wght.ttf);
}

body{
    background-image: url(./assets/background.jpg);
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    font-family: "Rubik-VariableFont", Arial, Helvetica, sans-serif;
    color: whitesmoke;
}

h1{
    font-size: 36px;
    text-transform: capitalize;
}

h2{
    font-size: 20px;
    opacity: 85%;
}