@font-face {
    font-family: "Rubik";
    src: url(.assets/Rubik-VariableFont_wght.ttf);
}

* {
    font-family: "Rubik", sans-serif;
    font-size: 20px;
    color: white;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-image: url(./assets/background.jpg);
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    justify-content: center;
}


main {
    width: 85vw;
    height: 90vh;
    margin: auto;
    background-color: rgba(54, 52, 52, 0.7);
    overflow: scroll; 
}


h1 {
    width: 50%;
    padding-bottom: 3%;
    padding-left: 2%;
    font-size: 34px;
    border-bottom: 2px solid white;
}

.image_container {
    width: 80%;
    height: auto;
    margin: auto;
}

img {
    width: 100%;
}

.presentation {
    margin: auto;
    width: 90%;
}

iframe {
    width: 90%;
    margin-left: 5%;
}

.mobile-nav {
    width: 85vw;
    height: 8%;
    margin: auto;
    bottom: 0;
    position: relative;
    padding: 0;
    border: 1px solid white;
    background-color: rgba(0, 0, 0, 0);
    display: flex;
}

ul { 
    margin: 0;
    padding: 0;
    width: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
li {
    list-style-type: none;  
}

